<%- include("header"); -%>

<div class="box" id="heading">
  <!-- these ejs snippets make JS values accessible to HTML -->
  <h1> <%= title %> </h1>
</div>
<div class="box">
  <%  newTaskItems.forEach(newItem => { %>
    <form class="removeItem" action="/delete" method="post">
      <div class="item">
      <input type="checkbox" name="checkbox" value="<%= newItem._id %>" onChange="this.form.submit()">
      <p> <%= newItem.name %> </p>
    </div>
    <input type="hidden" name="listName" value="<%= title %>">
    </form>

  <%  }); %>
  <form class="item" action= "/" method="post">
    <input type="text" name="newTask" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list" value=<%= title %>>+</button>
  </form>
</div>

<!-- newTaskItems.forEach(item => {
c
}) -->
<%- include("footer"); -%>
